#div{
background-color: #061421;
color: white;
}
#tableSchedule{    
    margin-top: 100px;
}
#tableH{
    color: white;
    background-color: #BB3651;
    text-align: center;
}
#nav{
    background-color: transparent;
}
#footer{
    background-color: #2B3B5C;
    position: absolute;
    margin-top: 330px;
    
}
hr{
    background-color: white;
}
#exampleModal{
    color: black;
}
#btnAdd{
    background-color: #061421;
}